@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #f2eceb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #1c0d24;
  background-image: url("images/bg.jpg");
}
@media only screen and (max-width: 2000px) {
  body {
    font-size: 16px;
  }
}
canvas {
  background-color: #f2eceb;
}
.Top {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.Top>h1 {
  background-color: #af4ae1;
  flex: 1;
  text-align: center;
  padding: 1rem;
}

.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 200ms ease-in-out;
  z-index: 10;
  background-color: #f2eceb;
}

.popup-header {
  background-color: #af4ae1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 0.25rem #401d52 solid;
}

.popup-header>input[type="button"] {
  font-size: 3rem;
  font-weight: bold;
  color: #f2eceb;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.popup>main {
  color: #af4ae1;
  padding: 1rem;
}

.popup>main>img {
  box-shadow: 5px 5px 5px #aaaaaa;
  height: 10rem;
  display: block;
}

.popup>main>p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h3 {
  padding-bottom: 0.5rem;
  border-bottom: 0.125rem #401d52 solid;
}

.endscreen {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 11;
  padding: 1rem;
  background-color: #d41df5;
}

.endscreen>input[type="button"] {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  background-color: #af4ae1;
  border: none;
  color: #f2eceb;
  padding: 0.5rem;
}

.endscreen>input[type="button"]:active {
  background-color: #f2eceb;
  color: #af4ae1;
}

.endscreen>h1 {
  padding: 1rem;
}

#playButton {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  background-color: #af4ae1;
  border: none;
  color: #f2eceb;
  padding: 0.5rem;
}

#playButton:active {
  background-color: #f2eceb;
  color: #af4ae1;
}

#playerName {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #f2eceb;
  border: none;
  background-color: #af4ae188;
  padding: 0.5rem;
}

#highScores {
  position: fixed;
  top: 1vh;
  right: 1vw;
  z-index: 10;
  background-color: #f2eceb;
  height: 100vh;
}

.grid-container {

  height: 99vh;
  width: 99vw;
  display: grid;
  grid-template-columns: 0.75fr 1.25fr 1.25fr 0.75fr;
  grid-template-rows: 0.3fr 1.7fr 1fr;
  gap: 3rem 3rem;
  grid-template-areas:
    "left Top Top Right"
    "left CanvasArea CanvasArea Right"
    "left CanvasArea CanvasArea Right";
}

.left {
  grid-area: left;
}

.Right {
  padding: 1rem;
  grid-area: Right;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

}

.right>h1 {

  background-color: #af4ae1;
}

.scoreboard {
  color: #f2eceb;
  text-align: center;
  padding: 1rem;
  height: 100%;
  width: 100%;
}

.Top {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  grid-area: Top;

}

.CanvasArea {
  display: flex;
  align-items: start;
  justify-content: center;
  grid-area: CanvasArea;
}


/* The switch - the box around the slider */
.switch {
  position: fixed;
  top: 34px;
  left: 130px;
  z-index: 10;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch h1 {
  position: absolute;
  left: -120px;
  font-size: 2rem;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2eceb;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #e4dedc;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #d41df5;
}

input:focus+.slider {
  box-shadow: 0 0 1px #d41df5;
}

input:checked+.slider:before {
  transform: translateX(26px);
}